@use "../setting/utility" as *;
@use "../functions/functions" as mx;
@use "../base/text";
@use "../base/space";

.case-item {
  $block: &;

  position: relative;
  display: block;
  width: mx.autoClamp(250, 340);
  max-width: 100%;
  text-decoration: none;
  border-right: 3px solid $color-border;
  border-bottom: 3px solid $color-border;
  border-radius: $radius;

  &__figure {
    aspect-ratio: 340 / 226;
    width: 100%;
    height: auto;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__contents {
    padding: var(--global-font-size-base) $low;
    background-color: white;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
  &__title {
    margin-bottom: 0;
    @extend .text-regular;
    font-weight: bold;
    &::after {
      content: attr(after);
      @extend .text-small;
      margin-left: var(--global-font-size-base);
    }
  }
  &__meta {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: $low;
    margin-top: 13px;
  }
  &__meta-item {
    display: flex;
    align-items: baseline;
    gap: var(--global-font-size-base);
    margin-block: 0;
  }
  &__meta-label {
    @extend .text-label;
    color: $color-theme;
    font-weight: bold;
  }
  &__meta-text {
    margin-left: 0;
    @extend .text-small;
    font-weight: bold;
  }

  .label {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  @include mx.mq(animate-up) {
    #{$block}__img {
      transition: transform 0.3s linear;
    }
    &:hover {
      #{$block}__img {
        transform: scale(1.1);
        transition: transform 0.3s linear;
      }
    }
  }
}
