@charset "UTF-8";
@use "../setting/utility" as *;
@use "../functions/functions" as mx;
@use "../components/btn";

.header {
  position: relative;
  padding: 10px mx.autoClamp(0, 30) 10px mx.autoClamp(15, 30);
  background-color: white;

  .--header-scroll-standby & {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    transform: translateY(-200%);
  }
  .--header-scroll-ready & {
    transition: transform 0.5s linear;
  }
  .--header-scroll-on & {
    transform: translateY(0%);
    box-shadow: var(--drop-shadow);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cta-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: $low;

    @include mx.mq($hide-nav-width) {
      margin-top: 0;
    }
  }

  &__cta {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 3px 8px;
    padding: 9px;
    border-radius: $radius;
    font-size: 14px;
    text-decoration: none;
    line-height: 1;
    letter-spacing: 0;
    color: white;

    &::after {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      background: url("../assets/icon-arrow-sub.svg") no-repeat center center /
        contain;
    }

    &.--email {
      border-color: $color-accent;
      background-color: $color-accent;

      &::after {
        background-image: url("../assets/icon-envelope.svg");
      }
    }

    &.--line {
      border-color: #06c755;
      background-color: #06c755;

      &::after {
        background-image: url("../assets/icon-line.svg");
      }
    }

    @include mx.mq($hide-nav-width) {
      flex-direction: column-reverse;
      width: 100px;
    }
  }
}

.header-title {
  display: grid;
  column-gap: mx.autoClamp(8, 16);
  grid-template-columns: auto 1fr;
  flex-shrink: 0;
  text-decoration: none;
  &__mark {
    grid-area: 1 / 1 / 3 / 2;
    height: mx.autoClampSp(35, 35, 51);
  }
  &__label {
    grid-area: 1 / 2 / 2 / 3;
    font-size: mx.autoClampSp(8, 8, 12);
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.03em;
  }
  &__text {
    grid-area: 2 / 2 / 3 / 3;
    font-size: mx.autoClampSp(16, 16, 24);
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;
    color: $color-theme;
  }
}
