@use "../setting/utility" as *;
@use "../functions/functions" as mx;
@use "../base/text";
@use "../base/space";

.staff-item {
  $figure-size: 100px;

  position: relative;
  padding-top: calc($figure-size / 2);

  &__figure {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 1 / 1;
    width: $figure-size;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__contents {
    padding: 66px $low $low;
    border-radius: $radius;
    background-color: $color-background;
    border-right: 3px solid $color-border;
    border-bottom: 3px solid $color-border;
  }
  &__meta {
    text-align: center;
  }
  &__job {
    @extend .text-label;
    color: $color-theme;
  }
  &__name {
    @extend .text-medium;
  }
  &__text {
    margin-block: var(--global-font-size-regular) 0;
    @extend .text-regular;
  }
}
